* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  body {
    font-family: sans-serif;
    padding: 90px 20px 0;
  }
  
  .header {
    background: #222;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
  
    max-width: 992px;
    margin: 0 auto;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
  }


   .banco{
    width: 220px;
    display: flex;
    align-items: center;
    justify-items: center;
  }

  
  .nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
  }
  
  .nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
  }
  
  .nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
  }
  
  .nav-menu-link:hover,
  .nav-menu-link_active {
    background-color: #034574;
    transition: 0.5s;
  }
  
  /* TOGGLE */
  .nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
  
    display: none;
  }


  .container{
    width:400px;
    height:500px;
    background:#fff;
    margin:20px auto;
    border-radius:4px;
    text-align:center;
    position:relative;
    -moz-box-shadow: 0px 0px 28px rgba(0,0,0,.3);
    -webkit-box-shadow: 0px 0px 28px rgba(0,0,0,.3);
     box-shadow: 0px 0px 28px rgba(0,0,0,.3);
     overflow:hidden;
  }
  
  
  .one , .two{
    display:block;
    height:500px;
    width:400px;
    margin:0px auto;
    position:absolute;
    -webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition:         all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275); 
  }
  
  .one{
    top:0;
    background:#fff;
    margin-top:20px;
  }
  
  .two{
    top:500px;
    background:#ffc107;
  }
  
  .two h3{
    color:#fff;
    padding-top:240px;
  }
  
  .logo{
    width:30%;
  
  }
  
  .one  .heading{
    color:#607d8b;
    text-transform:capitalize;
    font-size:20px;
    font-weight:900;
    margin-top:40px;
  }
  
  .container p{
    font-size:12px;
    color:#b7b7b7;
    font-weight:lighter;
    text-transform:capitalize;
  }
  .text1{
    width:85%;
    height:60px;
    margin-top:10px;
    margin-bottom:10px;
    border:none;
    border-bottom:3px solid #ffc107;
    overflow:auto;
    position:relative;
  }
 
  
  
  
  
  
  
  .text1:active:focus,
  .text1:focus,
  .text1:hover{
    outline : none;
    font-size:20px;
  }
  
  
  
  .text1:focus::-webkit-input-placeholder,
  .text1:active:focus::-webkit-input-placeholder
  {
    font-size:12px;
    display:block;
    -webkit-transform:translateY(-20px);
    transform:translateY(-20px);
  }

  .text2{
    width:85%;
    height:60px;
    margin-top:10px;
    margin-bottom:10px;
    border:none;
    border-bottom:3px solid #00913f;
    overflow:auto;
    position:relative;
  }
 
  
  
  
  
  
  
  .text2:active:focus,
  .text2:focus,
  .text2:hover{
    outline : none;
    font-size:20px;
  }
  
  
  
  .text2:focus::-webkit-input-placeholder,
  .text2:active:focus::-webkit-input-placeholder
  {
    font-size:12px;
    display:block;
    -webkit-transform:translateY(-20px);
    transform:translateY(-20px);
  }
  
  ::-webkit-placeholder{
    font-size:14px;
    color:#b7b7b7;
    text-transform:capitalize;
    -webkit-transform:translateY(0px);
    transform:translateY(0px);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; 
  }
  
  ::placeholder{
    font-size:14px;
    color:#b7b7b7;
    text-transform:capitalize;
    -webkit-transform:translateY(0px);
    transform:translateY(0px);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; 
  }
  
  .one  .btn{
    width:85%;
    background:#ffc107;
    padding:10px;
    margin: 5px 5px;
    border:none;
    border-radius:5px;
    font-size:18px;
    color:#fff;
    text-transform:capitalize;
    font-family: 'Open Sans', sans-serif;
  }
  .btn2{
    width:85%;
    background-color: #00913f;
    padding:10px;
    margin: 5px 5px;
    border:none;
    border-radius:5px;
    font-size:18px;
    color:#fff;
    text-transform:capitalize;
    font-family: 'Open Sans', sans-serif;
  }
  
  .one  .btn:active:focus,
  .one  .btn:focus,
  .one  .btn:hover{
    outline : none;
  }
  
  .one .btn:hover{
    cursor:pointer;
  }
  
  



  /* MOBILE */
  @media (max-width: 850px) {
    body {
      padding-top: 70px;
    }
    
    .content-Hijo1{
      
        justify-content: center;
     
      }
    .contentInfo{
        justify-content: center;
    }
    .header {
      height: 60px;
    }
    .imguser{
        width: 200px;
    }
  
    .banco {
      font-size: 25px;
      padding: 0 20px;
      line-height: 60px;
    }
  
    .nav-menu {
      flex-direction: column;
      align-items: center;
      margin: 0;
      background-color: #2c3e50;
      position: fixed;
      top: 60px;
      width: 100%;
      padding: 20px 0;
  
      height: calc(100% - 60px);
      overflow-y: auto;
  
      left: 100%;
      transition: left 0.3s;
    }
  
    .nav-menu-item {
      line-height: 70px;
    }
  
    .nav-menu-link:hover,
    .nav-menu-link_active {
      background: none;
      color: #83c5f7;
    }
  
    .nav-toggle {
      display: block;
    }
  
    .nav-menu_visible {
      left: 0;
    }
  
    .nav-toggle:focus:not(:focus-visible) {
      outline: none;
    }
  }
  
  
  